{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    {% include 'partials/messages.html' %}
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb" style="background-color: rgba(194, 193, 193, 0.207);">
                <ol class="breadcrumb p-2 ps-4">
                    <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Summary</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <a href="" class="btn btn-outline-primary">Back</a>
        </div>
    </div>
</div>

<canvas id="myChart" width="300" height="140"></canvas>
<script>

    const renderChart = (data, labels) => {

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Last 6 months expenses',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(254, 162, 235, 0.2)',
                        'rgba(25, 206, 86, 0.2)',
                        'rgba(125, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(55, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(254, 162, 235, 1)',
                        'rgba(25, 206, 86, 1)',
                        'rgba(125, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(55, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Expenses per category'
                }
            }
        });
    }


    const getChartData = () => {
        console.log('in chart data')
        fetch('{% url "income_category_summary" %}')
            .then(res => res.json())
            .then(results => {
                console.log('results', results)
                const category_data = results.income_category_data;
                const [labels, data] = [Object.keys(category_data), Object.values(category_data)];
                renderChart(data, labels)
            })
    }

    document.onload = getChartData();
</script>

{% endblock %}