{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Set your new password</h4>
                </div>

                <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}
                    <div class="form-group p-1">
                        <input type="password" name="password" id="passwordField" placeholder="Enter your password"
                            class="form-control form-control-sm">
                        <small class="pass-show-btn">SHOW</small>
                    </div>
                    <div class="form-group p-1">
                        <input type="password" name="password2" id="passwordField" placeholder="Confirm your password"
                            class="form-control form-control-sm">
                        <small class="pass-show-btn">SHOW</small>
                    </div>
                    <input type="submit" value="Reset Password" class="btn btn-block btn-primary register-btn">
                </form>
                <div class="container">
                    <span>Have an account?</span><a href="{% url 'login' %}">Login</a>
                    <span class="ms-1">Don't have an account</span><a href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>
<script>
    const usernameField = document.querySelector("#usernameField");
    const feedbackArea = document.querySelector(".invalid-feedback");
    const emailField = document.querySelector("#emailField");
    const emailFeedbackArea = document.querySelector(".invalid-email-feedback");
    const showPassToggle = document.querySelector('.pass-show-btn');
    const passwordField = document.querySelector('#passwordField')
    const registerBtn = document.querySelector('.register-btn')

    showPassToggle.addEventListener('click', (e) => {
        if (showPassToggle.textContent === 'SHOW') {
            showPassToggle.textContent = 'HIDE'
            passwordField.setAttribute("type", "text")
        }
        else {
            showPassToggle.textContent = 'SHOW'
            passwordField.setAttribute("type", "password")
        }

    })

    usernameField.addEventListener("keyup", (e) => {
        const usernameVal = e.target.value;
        console.log("entered username");
        usernameField.classList.remove("is-invalid");
        feedbackArea.style.display = "none";
        feedbackArea.innerHTML = ``;

        if (usernameVal.length > 0) {
            fetch("/authentication/validate-username", {
                body: JSON.stringify({ username: usernameVal }),
                method: "POST",
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log(data);

                    if (data.username_error) {
                        registerBtn.disabled = true;
                        usernameField.classList.add("is-invalid");
                        feedbackArea.style.display = "block";
                        feedbackArea.innerHTML = `<p>${data.username_error}</p>`;
                    }
                    else {
                        registerBtn.removeAttribute('disabled');
                    }
                });
        }
    });

    emailField.addEventListener("keyup", (e) => {
        const emailVal = e.target.value;

        emailField.classList.remove("is-invalid");
        emailFeedbackArea.style.display = "none";
        emailFeedbackArea.innerHTML = ``;

        if (emailVal.length > 0) {
            fetch("/authentication/validate-email", {
                body: JSON.stringify({ email: emailVal }),
                method: "POST",
            })
                .then((res) => res.json())
                .then((data) => {
                    console.log("data", data);
                    if (data.email_error) {
                        registerBtn.disabled = true;
                        emailField.classList.add("is-invalid");
                        emailFeedbackArea.style.display = "block";
                        emailFeedbackArea.innerHTML = `<p>${data.email_error}</p>`;
                    }
                    else {
                        registerBtn.removeAttribute('disabled');
                    }
                });
        }
    });

</script>
{% endblock %}